{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "ignorePatterns": ["build", "node_modules"],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "plugins": ["prettier"],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        },
        "groups": [["builtin", "external"], "internal", ["parent", "sibling", "index"]],
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "parent"
          }
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@", "."]],
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  }
}
